.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.footer-links {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	height: 5rem;
	width: 100%;
	text-transform: capitalize;
}

.footer a {
	color: white;
	font-size: 1.2rem;
}

.footer a:hover {
	color: #b6002c;
}

.design {
	color: white;
	background-color: cadetblue;
	width: 100%;
	text-align: center;
}

@media (max-width: 700px) {
	.footer a {
		font-size: 1rem;
	}
	.footer-links {
		height: 3rem;
		gap: 1rem;
	}
}

@media (max-width: 375px) {
	.footer a {
		font-size: 0.8rem;
	}
	.footer-links {
		height: 3rem;
	}
}
