.main-container {
	display: grid;
	height: 40rem;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"one two three"
		"one two four";
	gap: 1rem;
    padding-top: 8.5rem;
}

.element1 {
	grid-area: one;
}
.element2 {
	grid-area: two;
}
.element3 {
	grid-area: three;
}
.element4 {
	grid-area: four;
}

.featured {
	overflow: hidden;
	position: relative;
}

.featured img {
    height: 100%;
    object-position: center center;
    object-fit: cover;
    width: 100%;
}

.main-description {
    color: white;
    font-size: 2.3rem;
    font-weight: 600;
    position: absolute;
    bottom: 1rem;
    left: 1.2rem
}
.overlay {
    background-color: rgba(0,0,0,.3);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color .3s ease-in;
    width: 100%;
}
.overlay:hover {
    background-color: rgba(0, 0, 0, 0.5)
}

