.proud {
	padding-top: 5vw;
}

.proud h2 {
	padding-bottom: 2rem;
	font-weight: 600;
	font-size: 1.6rem;
}

.proud-container {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 0.15fr));
	gap: 1.3rem;
}

.product-header {
	height: 70%;
}

.product-header img {
	width: 100%;
}

.product {
	outline: 2px solid rgba(0, 0, 0, 0.2);
	outline-offset: -2px;
	transition: outline 0.1s ease-in;
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}
.product:hover {
	outline: 2px solid rgba(0, 0, 0, 0.7);
}

.product-details {
	font-size: 1.2rem;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 0.5rem;
}

.product-details p {
	text-align: center;
}

.item-price {
	font-size: 1.5rem;
	font-weight: 600;
	padding-top: 0.5rem;
}

@media (max-width: 500px) {
	.proud h2 {
		font-size: 1.2rem;
	}
}
